---
import Layout from "~/layouts/Layout.astro"
---

<Layout title="Zakiullah Khan | Product Maker & Angel Investor | @simplyzaki">
	<main>
		<article class="region prose wrapper hero">
			<h2>Zakiullah Khan</h2>
			<h3>Product Maker & Angel Investor </h3>
	  	</article>

		<article class="region prose wrapper">
			<p>Hi, I'm Zaki! a <em>product maker</em> with demonstrated experience in creating <em>enterprise software and developer platforms</em> that has <em>impacted over half a billion people</em> globally.</p>
			<p>Besides work, interested in <em>economics</em>, <em>progress studies</em> & <em>startups</em>.</p>
			<p>Do you wanna <em>make something wonderful?</em> Let's connect.</p>
	  	</article>
	  
	  	<footer class="region prose wrapper">
			<a href="https://www.linkedin.com/in/simplyzaki/">LinkedIn</a> - <a href="https://twitter.com/simplyzaki">Twitter</a> - <a href="https://github.com/simplyzaki">GitHub</a>
	  	</footer>
	</main>
  </Layout>